.button {
  display: flex;
  justify-content: end;
  flex-direction: column;
  min-width: 250px;
  min-height: 115px;
}

.upperSide {
  width: 100%;
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-bottom: none;
}

.lowerSide {
  flex: 0.2;
  background-color: #D9D9D9;
  border: 1px solid black;
}